Creating a Table in MySQL

 Once you have selected a database, you can create tables to organize and store
 data.

 Syntax

  * CREATE TABLE table_name (
  column1 datatype constraints,
  column2 datatype constraints,
 ...
 );

Example:

 CREATE TABLE students (
 id INT AUTO_INCREMENT PRIMARY KEY,
  name VARCHAR(100) NOT NULL DEFAULT 'No Name',
  age INT,
  email VARCHAR(100) UNIQUE,
  admission_date DATE

 );

 Explanation:

 •  id INT AUTO_INCREMENT PRIMARY KEY – A unique identifier for each student
    that auto-increments.
 •  name VARCHAR(100) NOT NULL – Name must be provided.
 •  age INT – Stores numeric values for age.
 •  email VARCHAR(100) UNIQUE – Each email must be different
 •  admission_date DATE – Stores the date of admission.

In [ ]:
Commonly Used Data Types

• INT – Whole numbers (e.g., age, quantity)
• VARCHAR(n) – Variable-length string (e.g., names, emails)
• DATE – Stores date values (YYYY-MM-DD)
• TEXT – Long text strings (e.g., descriptions)
• DATETIME – Stores date and time values
• BOOLEAN – Stores TRUE or FALSE

Common Constraints

 • PRIMARY KEY – Uniquely identifies each record
 • NOT NULL – Ensures the column cannot be left empty
 • UNIQUE – Ensures all values in a column are different
 • AUTO_INCREMENT – Automatically increases numeric values
 • DEFAULT – Sets a default value for the column
 • FOREIGN KEY – Enforces relationships between tables

 View All Tables

  * SHOW TABLES;

 View Table Structure

  * DESCRIBE students;

 Viewing Table Data

  * SELECT * FROM students;

Tables are the backbone of any relational database. A well-structured table leads to
 efficient data management and fewer issues later on.